In [1]:
#import all libraries and dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression

In [2]:
#load data
ED = pd.read_csv('datasets/Eredivisie.csv')
ED['margin'] = abs(ED['FTHG']-ED['FTAG'])
Results = ED[["Date","HomeTeam","AwayTeam","FTR", "margin"]]

In [3]:
ED.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,margin
0,N1,11/08/17,Den Haag,Utrecht,0,3,A,0,1,A,...,17,0.50,1.88,1.84,2.07,2.02,3.95,3.57,2.03,3
1,N1,12/08/17,Heracles,Ajax,2,1,H,0,0,D,...,17,1.25,2.00,1.94,1.96,1.91,9.72,6.18,1.32,1
2,N1,12/08/17,PSV Eindhoven,AZ Alkmaar,3,2,H,1,1,D,...,17,-1.25,1.98,1.92,1.96,1.93,1.47,5.10,6.64,1
3,N1,12/08/17,Vitesse,NAC Breda,4,1,H,3,0,H,...,18,-1.00,1.98,1.92,2.00,1.93,1.47,4.82,7.33,3
4,N1,12/08/17,VVV Venlo,Sparta Rotterdam,3,0,H,1,0,H,...,18,-0.25,1.86,1.83,2.08,2.03,2.10,3.52,3.78,3

In [4]:
Team_results= ED[['HomeTeam','AwayTeam','FTR']]
Team_results.head()

Team_results['FTR'].replace({'A':2,'H':1,'D':3}, inplace=True)

final_values = pd.get_dummies(Team_results, prefix=['HomeTeam','AwayTeam'],columns=['HomeTeam','AwayTeam'])

final_values.head()

C:\Users\thoed\Anaconda3\envs\ProjectAI\lib\site-packages\pandas\core\series.py:4515: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,FTR,HomeTeam_AZ Alkmaar,HomeTeam_Ajax,HomeTeam_Den Haag,HomeTeam_Excelsior,HomeTeam_Feyenoord,HomeTeam_Groningen,HomeTeam_Heerenveen,HomeTeam_Heracles,HomeTeam_NAC Breda,...,AwayTeam_NAC Breda,AwayTeam_PSV Eindhoven,AwayTeam_Roda,AwayTeam_Sparta Rotterdam,AwayTeam_Twente,AwayTeam_Utrecht,AwayTeam_VVV Venlo,AwayTeam_Vitesse,AwayTeam_Willem II,AwayTeam_Zwolle
0,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [5]:
X = final_values.drop(['FTR'],axis=1)
Y = final_values['FTR']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3, random_state=42)

In [6]:
model = LogisticRegression()
model.fit(X_train, Y_train)
train_score = model.score(X_train,Y_train)
test_score = model.score(X_test,Y_test)
print("Traning accuracy: ",train_score)
print("Testing accuracy: ",test_score)

Traning accuracy:  0.6355140186915887
Testing accuracy:  0.4891304347826087

In [26]:
rf = RandomForestClassifier(n_estimators=8, max_depth=22,
                              random_state=0)
rf.fit(X_train, Y_train) 


score = rf.score(X_train, Y_train)
score2 = rf.score(X_test, Y_test)
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.935
Test set accuracy:  0.554